<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Chap5" data-toc-modified-id="Chap5-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Chap5</a></span><ul class="toc-item"><li><span><a href="#全部のColumnでどの値が何回出てるか調べる（HistGram的）" data-toc-modified-id="全部のColumnでどの値が何回出てるか調べる（HistGram的）-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>全部のColumnでどの値が何回出てるか調べる（HistGram的）</a></span></li></ul></li><li><span><a href="#Chap6" data-toc-modified-id="Chap6-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Chap6</a></span><ul class="toc-item"><li><span><a href="#mapの使い方" data-toc-modified-id="mapの使い方-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>mapの使い方</a></span></li><li><span><a href="#数字をカテゴリーに分ける（Cut）" data-toc-modified-id="数字をカテゴリーに分ける（Cut）-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>数字をカテゴリーに分ける（Cut）</a></span><ul class="toc-item"><li><span><a href="#18---25,-26---35,-36---60" data-toc-modified-id="18---25,-26---35,-36---60-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>18 - 25, 26 - 35, 36 - 60</a></span></li><li><span><a href="#name-categories" data-toc-modified-id="name-categories-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>name categories</a></span></li><li><span><a href="#勝手にBinに仕分ける方法" data-toc-modified-id="勝手にBinに仕分ける方法-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>勝手にBinに仕分ける方法</a></span><ul class="toc-item"><li><span><a href="#Cutは適当にBinにいれる、QcutはBinを同じぐらいにしてくれる" data-toc-modified-id="Cutは適当にBinにいれる、QcutはBinを同じぐらいにしてくれる-2.2.3.1"><span class="toc-item-num">2.2.3.1&nbsp;&nbsp;</span>Cutは適当にBinにいれる、QcutはBinを同じぐらいにしてくれる</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Chap8" data-toc-modified-id="Chap8-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Chap8</a></span><ul class="toc-item"><li><span><a href="#Hierarchical-Index" data-toc-modified-id="Hierarchical-Index-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Hierarchical Index</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="#DataFrame" data-toc-modified-id="DataFrame-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>DataFrame</a></span><ul class="toc-item"><li><span><a href="#Index,-Columnの階層ごとに名前をつける" data-toc-modified-id="Index,-Columnの階層ごとに名前をつける-3.1.2.1"><span class="toc-item-num">3.1.2.1&nbsp;&nbsp;</span>Index, Columnの階層ごとに名前をつける</a></span></li><li><span><a href="#SwapLeve" data-toc-modified-id="SwapLeve-3.1.2.2"><span class="toc-item-num">3.1.2.2&nbsp;&nbsp;</span>SwapLeve</a></span></li></ul></li></ul></li><li><span><a href="#Reshape" data-toc-modified-id="Reshape-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Reshape</a></span><ul class="toc-item"><li><span><a href="#Stack-and-Unstack" data-toc-modified-id="Stack-and-Unstack-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Stack and Unstack</a></span><ul class="toc-item"><li><span><a href="#axisにごとにunstackできる" data-toc-modified-id="axisにごとにunstackできる-3.2.1.1"><span class="toc-item-num">3.2.1.1&nbsp;&nbsp;</span>axisにごとにunstackできる</a></span></li></ul></li><li><span><a href="#PIVOT" data-toc-modified-id="PIVOT-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span><a href="https://pandas.pydata.org/pandas-docs/stable/reshaping.html" target="_blank">PIVOT</a></a></span></li><li><span><a href="#Melt" data-toc-modified-id="Melt-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Melt</a></span></li></ul></li></ul></li><li><span><a href="#Chap-10" data-toc-modified-id="Chap-10-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Chap 10</a></span></li><li><span><a href="#groupbyの使い方" data-toc-modified-id="groupbyの使い方-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>groupbyの使い方</a></span><ul class="toc-item"><li><span><a href="#DictでGroup" data-toc-modified-id="DictでGroup-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>DictでGroup</a></span></li><li><span><a href="#Dictの代わりにFunctionsつかってもいい" data-toc-modified-id="Dictの代わりにFunctionsつかってもいい-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Dictの代わりにFunctionsつかってもいい</a></span></li><li><span><a href="#MultindexをGroupする" data-toc-modified-id="MultindexをGroupする-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>MultindexをGroupする</a></span></li><li><span><a href="#Groupby:-tuple-と-Dict-の違い" data-toc-modified-id="Groupby:-tuple-と-Dict-の違い-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Groupby: tuple と Dict の違い</a></span></li><li><span><a href="#Aggregation" data-toc-modified-id="Aggregation-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Aggregation</a></span><ul class="toc-item"><li><span><a href="#計算方法に名前をつけるとき" data-toc-modified-id="計算方法に名前をつけるとき-5.5.1"><span class="toc-item-num">5.5.1&nbsp;&nbsp;</span>計算方法に名前をつけるとき</a></span></li><li><span><a href="#カラムごとに別の計算式を使いたい" data-toc-modified-id="カラムごとに別の計算式を使いたい-5.5.2"><span class="toc-item-num">5.5.2&nbsp;&nbsp;</span>カラムごとに別の計算式を使いたい</a></span></li><li><span><a href="#インデックスをなくして計算する" data-toc-modified-id="インデックスをなくして計算する-5.5.3"><span class="toc-item-num">5.5.3&nbsp;&nbsp;</span>インデックスをなくして計算する</a></span></li></ul></li></ul></li><li><span><a href="#Apply" data-toc-modified-id="Apply-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Apply</a></span><ul class="toc-item"><li><span><a href="#Applyを使って、その日の最高額を出す" data-toc-modified-id="Applyを使って、その日の最高額を出す-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Applyを使って、その日の最高額を出す</a></span></li><li><span><a href="#group_keys=Falseで階層をなくせる" data-toc-modified-id="group_keys=Falseで階層をなくせる-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>group_keys=Falseで階層をなくせる</a></span></li></ul></li></ul></div>

# Chap5

## 全部のColumnでどの値が何回出てるか調べる（HistGram的）

In [42]:
import pandas as pd

df = pd.DataFrame(
    {
        'a': [1,2,3,4,5],
        'b': [2,4,6,8,10],
        'c': [1, 3, 6, 9, 12],
    }
)

df.apply(pd.value_counts)

      a    b    c
1   1.0  NaN  1.0
2   1.0  1.0  NaN
3   1.0  NaN  1.0
4   1.0  1.0  NaN
5   1.0  NaN  NaN
6   NaN  1.0  1.0
8   NaN  1.0  NaN
9   NaN  NaN  1.0
10  NaN  1.0  NaN
12  NaN  NaN  1.0

In [43]:
df.apply(pd.value_counts).fillna(0)

      a    b    c
1   1.0  0.0  1.0
2   1.0  1.0  0.0
3   1.0  0.0  1.0
4   1.0  1.0  0.0
5   1.0  0.0  0.0
6   0.0  1.0  1.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  1.0  0.0
12  0.0  0.0  1.0

# Chap6

## mapの使い方

In [44]:
import pandas as pd

def test(x):
    return x

df = pd.DataFrame({
    'value': range(21),
})

df['value'].map(test)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
Name: value, dtype: int64

In [45]:
import pandas as pd

def test(x):
    if x % 3 == 0:
        return 'fiz'
    elif x % 2 == 0:
        return 'buz'
    else:
        return 'fizbuz'

df = pd.DataFrame({
    'value': range(21),
})

df['value'].map(test)

0        fiz
1     fizbuz
2        buz
3        fiz
4        buz
5     fizbuz
6        fiz
7     fizbuz
8        buz
9        fiz
10       buz
11    fizbuz
12       fiz
13    fizbuz
14       buz
15       fiz
16       buz
17    fizbuz
18       fiz
19    fizbuz
20       buz
Name: value, dtype: object

## 数字をカテゴリーに分ける（Cut）

### 18 - 25, 26 - 35, 36 - 60

In [46]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 41, 32]
bins = [18, 25, 35, 60, 100]

cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (35, 60], (25, 35], (60, 100], (35, 60], (25, 35]]
Length: 11
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [47]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 1], dtype=int8)

In [48]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [49]:
cats.categories[1]

Interval(25, 35, closed='right')

In [50]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     2
(60, 100]    1
dtype: int64

### name categories

In [51]:
group_names  = ['youth', 'young-adult', 'middle-aged', 'senior']

pd.cut(ages, bins, labels=group_names)

[youth, youth, youth, young-adult, youth, ..., middle-aged, young-adult, senior, middle-aged, young-adult]
Length: 11
Categories (4, object): [youth < young-adult < middle-aged < senior]

### 勝手にBinに仕分ける方法

In [52]:
# 4つのBin
data = range(20)
cate = pd.cut(data, 4, precision=2)
pd.value_counts(cate)

(14.25, 19.0]     5
(9.5, 14.25]      5
(4.75, 9.5]       5
(-0.019, 4.75]    5
dtype: int64

In [53]:
# 2つのBin
data = range(13)
cate = pd.cut(data, 2, precision=2)
pd.value_counts(cate)

(-0.012, 6.0]    7
(6.0, 12.0]      6
dtype: int64

#### Cutは適当にBinにいれる、QcutはBinを同じぐらいにしてくれる

In [54]:
# qcutだとRandomNumでもBinのサイズを同じぐらいにしてくれる
import numpy as np
data = np.random.randn(1000)
cate = pd.qcut(data, 4)
pd.value_counts(cate)

(0.733, 3.25]        250
(0.00673, 0.733]     250
(-0.703, 0.00673]    250
(-2.967, -0.703]     250
dtype: int64

In [55]:
# cut だと都合よくいかない
import numpy as np
data = np.random.randn(1000)
cate = pd.cut(data, 4)
pd.value_counts(cate)

(-1.566, -0.0455]    445
(-0.0455, 1.475]     437
(1.475, 2.996]        63
(-3.093, -1.566]      55
dtype: int64

# Chap8

## Hierarchical Index

### Series

In [56]:
import pandas as pd
import numpy as np
ds = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1,2,3,1,3,1,2,2,3]])
ds

a  1   -0.137201
   2    1.166014
   3   -0.571099
b  1   -1.280408
   3   -1.330508
c  1    0.437441
   2    2.057585
d  2   -0.521249
   3    2.245353
dtype: float64

In [57]:
ds.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [58]:
ds['b']

1   -1.280408
3   -1.330508
dtype: float64

In [59]:
ds['b':'c']

b  1   -1.280408
   3   -1.330508
c  1    0.437441
   2    2.057585
dtype: float64

In [60]:
ds[['b', 'd']]

b  1   -1.280408
   3   -1.330508
d  2   -0.521249
   3    2.245353
dtype: float64

In [61]:
ds.loc[['b', 'd']]

b  1   -1.280408
   3   -1.330508
d  2   -0.521249
   3    2.245353
dtype: float64

In [62]:
ds.unstack()

          1         2         3
a -0.137201  1.166014 -0.571099
b -1.280408       NaN -1.330508
c  0.437441  2.057585       NaN
d       NaN -0.521249  2.245353

In [63]:
ds.unstack().stack()

a  1   -0.137201
   2    1.166014
   3   -0.571099
b  1   -1.280408
   3   -1.330508
c  1    0.437441
   2    2.057585
d  2   -0.521249
   3    2.245353
dtype: float64

### DataFrame

In [64]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

#### Index, Columnの階層ごとに名前をつける

In [65]:
frame.index.names = ['key1', 'key2'] # インデックスの階層ごとに名前をつける
frame.columns.names = ['state', 'color'] # Columnの階層ごとに名前をつける

In [66]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

#### SwapLeve

In [67]:
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

###### MultiLevelIndexでソートする

In [68]:
frame.sort_index(level=1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [69]:
frame.sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

## Reshape

### Stack and Unstack

- stack
  - This “rotates” or pivots from the columns in the data to the rows
- unstack
  - This pivots from the rows into the columns

In [70]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three'],
                                     name='number'))
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [71]:
res = data.stack()
res

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64

In [72]:
res.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

#### axisにごとにunstackできる

In [73]:
res.unstack(0)

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [74]:
res.unstack(1)

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [75]:
res.unstack('state') # index や Columnの名前でも良い

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

### [PIVOT](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)

In [76]:
import pandas.util.testing as tm; tm.N = 3
def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])
df = unpivot(tm.makeTimeDataFrame())
df

         date variable     value
0  2000-01-03        A -1.744404
1  2000-01-04        A -0.576351
2  2000-01-05        A -0.753379
3  2000-01-03        B  0.988169
4  2000-01-04        B  0.769492
5  2000-01-05        B -0.335704
6  2000-01-03        C  1.089960
7  2000-01-04        C  0.638519
8  2000-01-05        C  0.368082
9  2000-01-03        D -0.028677
10 2000-01-04        D -1.350434
11 2000-01-05        D  0.717530

In [77]:
df.pivot(index='date', columns='variable', values='value')

variable           A         B         C         D
date
2000-01-03 -1.744404  0.988169  1.089960 -0.028677
2000-01-04 -0.576351  0.769492  0.638519 -1.350434
2000-01-05 -0.753379 -0.335704  0.368082  0.717530

In [78]:
df.pivot(index='variable', columns='date', values='value')

date      2000-01-03  2000-01-04  2000-01-05
variable
A          -1.744404   -0.576351   -0.753379
B           0.988169    0.769492   -0.335704
C           1.089960    0.638519    0.368082
D          -0.028677   -1.350434    0.717530

In [79]:
df.pivot(index='value', columns='date', values='variable')

date      2000-01-03 2000-01-04 2000-01-05
value
-1.744404          A       None       None
-1.350434       None          D       None
-0.753379       None       None          A
-0.576351       None          A       None
-0.335704       None       None          B
-0.028677          D       None       None
 0.368082       None       None          C
 0.638519       None          C       None
 0.717530       None       None          D
 0.769492       None          B       None
 0.988169          B       None       None
 1.089960          C       None       None

### Melt

pivot => Transform one column into many   
melt => merges multiple column into one

In [80]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
                   'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})
df

   A  B  C  key
0  1  4  7  foo
1  2  5  8  bar
2  3  6  9  baz

In [81]:
df2 = pd.melt(df, ['key']).sort_values(by='key', ascending=False)
df2

   key variable  value
0  foo        A      1
3  foo        B      4
6  foo        C      7
2  baz        A      3
5  baz        B      6
8  baz        C      9
1  bar        A      2
4  bar        B      5
7  bar        C      8

In [82]:
df3 = pd.melt(df, ['A'])
df3

   A variable value
0  1        B     4
1  2        B     5
2  3        B     6
3  1        C     7
4  2        C     8
5  3        C     9
6  1      key   foo
7  2      key   bar
8  3      key   baz

In [83]:
df2.pivot('key', 'variable', 'value') # Meltされたものに、Pivotするともとにもどる

variable  A  B  C
key
bar       2  5  8
baz       3  6  9
foo       1  4  7

# Chap 10

# groupbyの使い方

In [84]:
import pandas as pd
import numpy as np
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

people

               a         b         c         d         e
Joe     0.074585 -0.019739  1.195665  1.274229 -0.119239
Steve  -1.568291 -0.456197 -0.763980  0.579196  1.716161
Wes    -0.247791  0.163533 -0.340334  0.509920 -0.035110
Jim    -1.283041  0.901058 -0.192408  0.809718 -0.178893
Travis -0.702295 -1.015499  0.885777  0.491965 -0.393472

## DictでGroup

In [85]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}
by_column = people.groupby(mapping, axis=1)
by_column.sum()

            blue       red
Joe     2.469894 -0.064392
Steve  -0.184785 -0.308327
Wes     0.169587 -0.119368
Jim     0.617310 -0.560876
Travis  1.377742 -2.111266

## Dictの代わりにFunctionsつかってもいい

In [86]:
def test(x):
    return f"name length is: {len(x)}"

people.groupby(test).sum()

                          a         b         c         d         e
name length is: 3 -1.456247  1.044852  0.662923  2.593867 -0.333242
name length is: 5 -1.568291 -0.456197 -0.763980  0.579196  1.716161
name length is: 6 -0.702295 -1.015499  0.885777  0.491965 -0.393472

## MultindexをGroupする

In [87]:
import pandas as pd
import numpy as np

people = pd.DataFrame(np.random.randn(5, 5),
                      columns=[['US', 'JP', 'JP', 'US', 'US'],
                               ['a', 'b', 'c', 'd', 'e']],
                      index=[['NY', 'NY', 'CA', 'CA', 'WA'],
                             ['Joe', 'Steve', 'Wes', 'Jim', 'Travis']])
people

                 US        JP                  US
                  a         b         c         d         e
NY Joe    -1.597619 -1.903991  1.717990 -0.347391  1.597660
   Steve   0.943449  0.327603  0.407237  0.255061 -1.466402
CA Wes    -1.814948 -0.629287  0.872799  1.194651  0.127522
   Jim    -2.794945 -0.538026  0.544870  1.400313  0.282801
WA Travis  0.097529 -0.572021  0.093596  1.005839 -1.139036

In [88]:
people.groupby(level=0, axis=1).count()

           JP  US
NY Joe      2   3
   Steve    2   3
CA Wes      2   3
   Jim      2   3
WA Travis   2   3

In [89]:
people.groupby(level=0, axis=0).count()

   US JP    US
    a  b  c  d  e
CA  2  2  2  2  2
NY  2  2  2  2  2
WA  1  1  1  1  1

## Groupby: tuple と Dict の違い

In [90]:
import pandas as pd
df = pd.read_csv('tips.csv')
df.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [91]:
grouped = df.groupby(['day', 'smoker'])
grouped.count().head()

            total_bill  tip  time  size
day smoker
Fri No               4    4     4     4
    Yes             15   15    15    15
Sat No              45   45    45    45
    Yes             42   42    42    42
Sun No              57   57    57    57

## Aggregation

In [92]:
grouped.agg(['sum', 'mean'])

            total_bill                tip           size
                   sum       mean     sum      mean  sum      mean
day  smoker
Fri  No          73.68  18.420000   11.25  2.812500    9  2.250000
     Yes        252.20  16.813333   40.71  2.714000   31  2.066667
Sat  No         884.78  19.661778  139.63  3.102889  115  2.555556
     Yes        893.62  21.276667  120.77  2.875476  104  2.476190
Sun  No        1168.88  20.506667  180.57  3.167895  167  2.929825
     Yes        458.28  24.120000   66.82  3.516842   49  2.578947
Thur No         770.09  17.113111  120.32  2.673778  112  2.488889
     Yes        326.24  19.190588   51.51  3.030000   40  2.352941

### 計算方法に名前をつけるとき

In [93]:
grouped.agg([('合計', 'sum'), ('平均', 'mean')])

            total_bill                tip           size
                    合計         平均      合計        平均   合計        平均
day  smoker
Fri  No          73.68  18.420000   11.25  2.812500    9  2.250000
     Yes        252.20  16.813333   40.71  2.714000   31  2.066667
Sat  No         884.78  19.661778  139.63  3.102889  115  2.555556
     Yes        893.62  21.276667  120.77  2.875476  104  2.476190
Sun  No        1168.88  20.506667  180.57  3.167895  167  2.929825
     Yes        458.28  24.120000   66.82  3.516842   49  2.578947
Thur No         770.09  17.113111  120.32  2.673778  112  2.488889
     Yes        326.24  19.190588   51.51  3.030000   40  2.352941

### カラムごとに別の計算式を使いたい

In [94]:
grouped.agg({'total_bill': 'sum', 'tip': 'mean'})

             total_bill       tip
day  smoker
Fri  No           73.68  2.812500
     Yes         252.20  2.714000
Sat  No          884.78  3.102889
     Yes         893.62  2.875476
Sun  No         1168.88  3.167895
     Yes         458.28  3.516842
Thur No          770.09  2.673778
     Yes         326.24  3.030000

In [95]:
grouped.agg({'total_bill': [('合計', 'sum'), ('平均', 'mean')],
             'tip': [('平均', 'mean'), ('偏差', 'std')]})

            total_bill                  tip
                    合計         平均        平均        偏差
day  smoker
Fri  No          73.68  18.420000  2.812500  0.898494
     Yes        252.20  16.813333  2.714000  1.077668
Sat  No         884.78  19.661778  3.102889  1.642088
     Yes        893.62  21.276667  2.875476  1.630580
Sun  No        1168.88  20.506667  3.167895  1.224785
     Yes        458.28  24.120000  3.516842  1.261151
Thur No         770.09  17.113111  2.673778  1.282964
     Yes        326.24  19.190588  3.030000  1.113491

### インデックスをなくして計算する

In [96]:
df.groupby(['day', 'smoker']).mean()

             total_bill       tip      size
day  smoker
Fri  No       18.420000  2.812500  2.250000
     Yes      16.813333  2.714000  2.066667
Sat  No       19.661778  3.102889  2.555556
     Yes      21.276667  2.875476  2.476190
Sun  No       20.506667  3.167895  2.929825
     Yes      24.120000  3.516842  2.578947
Thur No       17.113111  2.673778  2.488889
     Yes      19.190588  3.030000  2.352941

In [97]:
df.groupby(['day', 'smoker'], as_index=False).mean()

    day smoker  total_bill       tip      size
0   Fri     No   18.420000  2.812500  2.250000
1   Fri    Yes   16.813333  2.714000  2.066667
2   Sat     No   19.661778  3.102889  2.555556
3   Sat    Yes   21.276667  2.875476  2.476190
4   Sun     No   20.506667  3.167895  2.929825
5   Sun    Yes   24.120000  3.516842  2.578947
6  Thur     No   17.113111  2.673778  2.488889
7  Thur    Yes   19.190588  3.030000  2.352941

In [98]:
df2 = df.groupby(['day', 'smoker'], as_index=False)
df2.agg({'total_bill': [('合計', 'sum'), ('平均', 'mean')],
         'tip': [('平均', 'mean'), ('偏差', 'std')]})

    day smoker total_bill                  tip
                       合計         平均        平均        偏差
0   Fri     No      73.68  18.420000  2.812500  0.898494
1   Fri    Yes     252.20  16.813333  2.714000  1.077668
2   Sat     No     884.78  19.661778  3.102889  1.642088
3   Sat    Yes     893.62  21.276667  2.875476  1.630580
4   Sun     No    1168.88  20.506667  3.167895  1.224785
5   Sun    Yes     458.28  24.120000  3.516842  1.261151
6  Thur     No     770.09  17.113111  2.673778  1.282964
7  Thur    Yes     326.24  19.190588  3.030000  1.113491

# Apply

## Applyを使って、その日の最高額を出す

In [99]:
import pandas as pd
df = pd.read_csv('tips.csv')
df.groupby(['day', 'time']).count()

             total_bill  tip  smoker  size
day  time
Fri  Dinner          12   12      12    12
     Lunch            7    7       7     7
Sat  Dinner          87   87      87    87
Sun  Dinner          76   76      76    76
Thur Dinner           1    1       1     1
     Lunch           61   61      61    61

In [100]:
def top(x, n=3, column='tip'):
    return x.sort_values(by=column, ascending=False)[-n:]

df2 = df.groupby(['day', 'time'])
df2.apply(top)

                 total_bill   tip smoker   day    time  size
day  time
Fri  Dinner 97        12.03  1.50    Yes   Fri  Dinner     2
            99        12.46  1.50     No   Fri  Dinner     2
            92         5.75  1.00    Yes   Fri  Dinner     2
     Lunch  226       10.09  2.00    Yes   Fri   Lunch     2
            222        8.58  1.92    Yes   Fri   Lunch     1
            224       13.42  1.58    Yes   Fri   Lunch     2
Sat  Dinner 236       12.60  1.00    Yes   Sat  Dinner     2
            67         3.07  1.00    Yes   Sat  Dinner     1
            111        7.25  1.00     No   Sat  Dinner     1
Sun  Dinner 190       15.69  1.50    Yes   Sun  Dinner     2
            43         9.68  1.32     No   Sun  Dinner     2
            0         16.99  1.01     No   Sun  Dinner     2
Thur Dinner 243       18.78  3.00     No  Thur  Dinner     2
     Lunch  195        7.56  1.44     No  Thur   Lunch     2
            146       18.64  1.36     No  Thur   Lunch     3
            135        8.51  1.25     No  Thur   Lunch     2

In [101]:
# 引数も渡せる
df2.apply(top, n=2, column='total_bill')

                 total_bill   tip smoker   day    time  size
day  time
Fri  Dinner 100       11.35  2.50    Yes   Fri  Dinner     2
            92         5.75  1.00    Yes   Fri  Dinner     2
     Lunch  226       10.09  2.00    Yes   Fri   Lunch     2
            222        8.58  1.92    Yes   Fri   Lunch     1
Sat  Dinner 111        7.25  1.00     No   Sat  Dinner     1
            67         3.07  1.00    Yes   Sat  Dinner     1
Sun  Dinner 6          8.77  2.00     No   Sun  Dinner     2
            172        7.25  5.15    Yes   Sun  Dinner     2
Thur Dinner 243       18.78  3.00     No  Thur  Dinner     2
     Lunch  195        7.56  1.44     No  Thur   Lunch     2
            149        7.51  2.00     No  Thur   Lunch     2

## group_keys=Falseで階層をなくせる

In [102]:
df.groupby('smoker').apply(top)

            total_bill   tip smoker   day    time  size
smoker
No     135        8.51  1.25     No  Thur   Lunch     2
       0         16.99  1.01     No   Sun  Dinner     2
       111        7.25  1.00     No   Sat  Dinner     1
Yes    67         3.07  1.00    Yes   Sat  Dinner     1
       236       12.60  1.00    Yes   Sat  Dinner     2
       92         5.75  1.00    Yes   Fri  Dinner     2

In [103]:
df.groupby('smoker', group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size
135        8.51  1.25     No  Thur   Lunch     2
0         16.99  1.01     No   Sun  Dinner     2
111        7.25  1.00     No   Sat  Dinner     1
67         3.07  1.00    Yes   Sat  Dinner     1
236       12.60  1.00    Yes   Sat  Dinner     2
92         5.75  1.00    Yes   Fri  Dinner     2

In [104]:
# p305 から